section(class="comfort-room")
    h2 Номер «Комфорт»
    a(id="comfort" class="anchor")
    div(class="slider-hotel")
        ul.slider-comfort-room
            li.slider-room-item
                img(src="static/img/hotel_rooms/comfort/comfort_1.svg", alt="")
            li.slider-room-item
                img(src="static/img/hotel_rooms/comfort/comfort_2.svg", alt="")
            li.slider-room-item
                img(src="static/img/hotel_rooms/comfort/comfort_3.svg", alt="")
            li.slider-room-item
                img(src="static/img/hotel_rooms/comfort/comfort_4.svg", alt="")
            li.slider-room-item
                img(src="static/img/hotel_rooms/comfort/comfort_5.svg", alt="")
        ul.slider-comfort-nav
            li.slider-nav-item
                img(src="static/img/hotel_rooms/comfort/comfort_1.svg", alt="")
            li.slider-nav-item
                img(src="static/img/hotel_rooms/comfort/comfort_2.svg", alt="")
            li.slider-nav-item
                img(src="static/img/hotel_rooms/comfort/comfort_3.svg", alt="")
            li.slider-nav-item
                img(src="static/img/hotel_rooms/comfort/comfort_4.svg", alt="")
            li.slider-nav-item
                img(src="static/img/hotel_rooms/comfort/comfort_5.svg", alt="")
    div(class="room-description")
        span.room-description__title Номер «Комфорт»
        p.capacity Вместимость: до 2-х человек
        span Услуги и удобства:
        ul.services
            li Двуспальная кровать с ортопедическим матрасом
            li Собственная ванная комната в номере (душевая, туалет и раковина)
            li Шкаф
            li Раскладной столик
            li Телевизор
            li Wi-Fi
            li Фен и ванные принадлежности (полотенца, тапочки, мыло, шампунь, гель для душа)
    div(class="room-reservation")
        span.room-reservation__price 2 300 руб
        a(class="room-reservation__btn" href="#") Забронировать
        p.room-reservation__description
            |В стоимость входит пользование общей кухонной зоной 
            br
            |с холодильником, микроволновой
            |печью, чайником и посудой. Здесь можно разогреть еду, пообедать, выпить чай или кофе.