section(class="double-room")
    h2 Двухместный номер
    a(id="double" class="anchor")
    div(class="slider-hotel")
        ul.slider-double-room
            li.slider-room-item
                img(src="static/img/hotel_rooms/double/double_1.svg", alt="")
            li.slider-room-item
                img(src="static/img/hotel_rooms/double/double_2.svg", alt="")
            li.slider-room-item
                img(src="static/img/hotel_rooms/double/double_3.svg", alt="")
            li.slider-room-item
                img(src="static/img/hotel_rooms/double/double_4.svg", alt="")
            li.slider-room-item
                img(src="static/img/hotel_rooms/double/double_5.svg", alt="")
        ul.slider-double-nav
            li.slider-nav-item
                img(src="static/img/hotel_rooms/double/double_1.svg", alt="")
            li.slider-nav-item
                img(src="static/img/hotel_rooms/double/double_2.svg", alt="")
            li.slider-nav-item
                img(src="static/img/hotel_rooms/double/double_3.svg", alt="")
            li.slider-nav-item
                img(src="static/img/hotel_rooms/double/double_4.svg", alt="")
            li.slider-nav-item
                img(src="static/img/hotel_rooms/double/double_5.svg", alt="")
    div(class="room-description")
        span.room-description__title Двухместный номер
        span.add-inform С камином и собственной кухней
        p.capacity Вместимость: до 2-х человек
        span Услуги и удобства:
        ul.services
            li Двуспальная кровать с ортопедическим матрасом
            li Собственная ванная комната в номере (душевая, туалет)
            li Собственная кухня (холодильник, эл. чайник, микроволновка, посуда)
            li Шкаф
            li Телевизор
            li Wi-Fi
            li Декоративный камин
            li Фен и ванные принадлежности (полотенца, тапочки, мыло, шампунь, гель для душа)
    div(class="room-reservation")
        span.room-reservation__price 2 600 руб
        a(class="room-reservation__btn" href="#") Забронировать
        p.room-reservation__description
            |В стоимость входит пользование общей кухонной зоной 
            br
            |с холодильником, микроволновой
            |печью, чайником и посудой. Здесь можно разогреть еду, пообедать, выпить чай или кофе.
