section(class="family-room")
    h2 Номер «Семейный»
    a(id="family" class="anchor")
    div(class="slider-hotel")
        ul.slider-family-room
            li.slider-room-item
                img(src="static/img/hotel_rooms/family/family_1.svg", alt="")
            li.slider-room-item
                img(src="static/img/hotel_rooms/family/family_2.svg", alt="")
            li.slider-room-item
                img(src="static/img/hotel_rooms/family/family_3.svg", alt="")
            li.slider-room-item
                img(src="static/img/hotel_rooms/family/family_4.svg", alt="")
            li.slider-room-item
                img(src="static/img/hotel_rooms/family/family_5.svg", alt="")
        ul.slider-family-nav
            li.slider-nav-item
                img(src="static/img/hotel_rooms/family/family_1.svg", alt="")
            li.slider-nav-item
                img(src="static/img/hotel_rooms/family/family_2.svg", alt="")
            li.slider-nav-item
                img(src="static/img/hotel_rooms/family/family_3.svg", alt="")
            li.slider-nav-item
                img(src="static/img/hotel_rooms/family/family_4.svg", alt="")
            li.slider-nav-item
                img(src="static/img/hotel_rooms/family/family_5.svg", alt="")
    div(class="room-description")
        span.room-description__title Номер «Семейный»
        p.capacity Вместимость: до 3-х человек
        span Услуги и удобства:
        ul.services
            li Двуспальная кровать с ортопедическим матрасом + раскладное кресло
            li Собственная ванная комната напротив номера (душевая, туалет и раковина)
            li Шкаф 
            li Раскладной столик
            li Телевизор
            li Wi-Fi
            li Фен и ванные принадлежности (полотенца, тапочки, мыло, шампунь, гель для душа)
    div(class="room-reservation")
        span.room-reservation__price 2 500 руб
        a(class="room-reservation__btn" href="#") Забронировать
        p.room-reservation__description
            |В стоимость входит пользование общей кухонной зоной 
            br
            |с холодильником, микроволновой
            |печью, чайником и посудой. Здесь можно разогреть еду, пообедать, выпить чай или кофе.


