div(class="modal" id="modal--registration")
   form(class="callback-form callback-room")
        span.callback-form__title Заказать номер
        input(type="text" placeholder="Телефон*" name="phone" id="modal-input-phone" class="form-input input-phone")
        label(for="modal-input-phone") phone
        input(type="text" placeholder="Имя" name="name" id="modal-input-name" class="form-input")
        label(for="modal-input-name") name
        span
            |* Обязательные поля
        p
            |Наш администратор перезвонит вам в течение 30 минут
        input(type="submit" class="callback-form__submit" value="Забронировать") 