div(class="modal" id="modal--description")
    p Благодарим Вас, что выбрали наш отель!
    +icon('smile','modal_icon-smile')
    p Наш администратор перезвонит вам в течение 30 минут
    a(href="#" id="close") Вернуться на сайт
