article(class="conteiner-advantages")
    a(class="anchor" id="advantages")
    h2 Наши преимущества
    ul(class="advantages-list")
        li.advantages-item
            +icon('service', 'advantages-item__icon')
            span(class="name-advantage") Обслуживание 24ч
            p.advantage-clarification Круглосуточное
                br
                |обслуживание гостей
        li.advantages-item
            +icon('wifi','advantages-item__icon')
            span(class="name-advantage") Бесплатный Wi-fi 
            p.advantage-clarification Бесплатный высокоскоростной интернет для наших гостей
                br
                |на всей территории отеля
        li.advantages-item        
            +icon('clean','advantages-item__icon')
            span(class="name-advantage") Гарантия чистоты номера
            p.advantage-clarification Мы следим за качеством уборки
                br
                |в номерах отеля
        li.advantages-item
            +icon('luggage','advantages-item__icon')
            span(class="name-advantage") Бесплатное хранение
                br
                |багажа
            p.advantage-clarification При раннем заезде, позднем выезде И условии занятости номера, Вы можете воспользоваться данной услугой
        li.advantages-item
            +icon('pet','advantages-item__icon')
            span(class="name-advantage") Размещение с дом.
                br
                |животными
            p.advantage-clarification В нашем отеле возможно размещение с небольшим домашним питомцем по предварительному запросу
        li.advantages-item
            +icon('kitchen','advantages-item__icon')
            span(class="name-advantage") Общая кухня
                br
                |(чай/кофе бесплатно)
            p.advantage-clarification Для гостей доступна общая кухонная зона со всей необходимой посудой и техникой, бесплатным чаем и кофе
        li.advantages-item
            +icon('location','advantages-item__icon')
            span(class="name-advantage") Удобное расположение
            p.advantage-clarification Отель расположен в центре города рядом с основными достопримечательностями
        li.advantages-item
            +icon('excursion','advantages-item__icon')
            span(class="name-advantage") Бесплатные пешеходные экскурсии
            p.advantage-clarification Предоставляем гостям
                br
                |бесплатные экскурсии
                br
                |по достопримечательностям, находящихся в шаговой доступности от отеля
        li.advantages-item
            +icon('video','advantages-item__icon')
            span(class="name-advantage") Видеонаблюдение в местах общего пользования
            p.advantage-clarification Мы заботимся о безопасности наших гостей
        
        