div(class="conteiner-banner")
    p Уютный отель
        br
        |в самом сердце Питера
    form(class="callback-form callback-banner")
        span(class="callback-form__title") Заказать номер
        input(type="text" placeholder="Телефон*" name="phone" id="input-phone" class="input-phone")
        label(for="input-phone") phone
        input(type="text" placeholder="Имя" id="input-name" name="name")
        label(for="input-name") name
        span
            |* Обязательные поля
        p
            |Наш администратор перезвонит вам в течение 30 минут
        input(type="submit" class="callback-form__submit" value="Забронировать") 