article.container-description-hotel
    h2 Описание отеля
    div(class="admin-hotel")
        img(src="static/img/index/hotel_description/admin.png", alt="admin")
        span.admin-hotel__name Татьяна Иванова
        p.admin-hotel__description Администратор
            br
            |мини-отеля «8 сов»
    div(class="hotel-description")
        a(class="anchor" id="hotel-description")
        p.title-description-hotel Добро пожаловать в мини-отель «8 сов»!
        p Мы находимся 
            i 
                |в центральной части 
            |Санкт-Петербурга,
            |где каждый дом имеет свою
            |уникальную историю. Здание, в котором находится отель, построено в 1912 году и 
            i
                |является памятником архитектуры.
        p 
            i Уютная обстановка и высокий уровень обслуживания 
            |оставят приятные впечатления об
            |отдыхе  в Северной столице. 
        p Мы вложили душу в наш мини-отель и будем рады видеть Вас у нас в гостях!