section(class="container-landmarks")
    a(class="anchor" id="landmarks")
    h2 Достопримечательности
    ul.slider-landmarks
        li.slider-item-landmark
            img(src="static/img/index/landmarks/gallery.png", alt="")
            p(class="name-landmark") ТРЦ «Галерея»
            p(class="description-landmark") Торгово-развлекательный центр, расположенный в самом сердце Санкт-Петербурга
        li.slider-item-landmark
            img(src="static/img/index/landmarks/theodore_cathedral.png", alt="")
            p(class="name-landmark") Фёдоровский собор
            p(class="description-landmark") Православный храм 
                br 
                |Санкт-Петербургской епархии Русской
                |православной церкви
        li.slider-item-landmark
            img(src="static/img/index/landmarks/suvorov_museum.png", alt="")
            p(class="name-landmark") Музей А. В. Суворова
            p(class="description-landmark") Основан в 1900 году,
                br
                |к столетней годовщине 
                |со дня смерти полководца
        li.slider-item-landmark
            img(src="static/img/index/landmarks/tauride_garden.png", alt="")
            p(class="name-landmark") Таврический сад
            p(class="description-landmark") Памятник садово-паркового искусства в центральной части 
                |Санкт-Петербурга
        li.slider-item-landmark
            img(src="static/img/index/landmarks/obelisk.png", alt="")
            p(class="name-landmark") Обелиск Городу-герою Ленинграду
            p(class="description-landmark") Обелиск был открыт
                br 
                |к 40-летию Великой Победы 
                br
                |8 мая 1985 года, расположен
                br
                |на площади Восстания
        li.slider-item-landmark
            img(src="static/img/index/landmarks/moscow_railway_station.png", alt="")
            p(class="name-landmark") Московский вокзал
            p(class="description-landmark") Один из пяти действующих вокзалов Санкт-Петербурга