article(class="map")
    a(class="anchor" id="map")
    h2 Где нас найти?
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1188.4918627809006!2d30.376088828147545!3d59.93550902135823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631962285c37b%3A0x76d5c7e6ee80a318!2zOCDQodCe0JI!5e0!3m2!1sru!2sru!4v1534174978522")