section(class="container-questions")
    a(class="anchor" id="questions")
    h3 Вопросы и ответы
    .slider-questions
        .slider-item-question
            p(class="question-text") Какие документы необходимо иметь при себе при заезде в отель?
            p(class="answer-text") Для заселения в наш отель необходимо иметь при себе документы: 
            ul
                li паспорт гражданина РФ
                li свидетельство о рождении 
            p(class="answer-text") (для несовершеннолетних)
        .slider-item-question
            p(class="question-text") Есть ли у Вас услуга хранения багажа?
            p(class="answer-text") Да, эта услуга предоставляется бесплатно всем гостям.
        .slider-item-question
            p(class="question-text") Можно ли заехать в номер раньше 12:00?
            p(class="answer-text") Да, при наличии свободного номера.
        .slider-item-question
            p(class="question-text") Можно ли выехать из номера позже 10:00?
            p(class="answer-text") Да, если нет заселения в этот номер, 
                br
                |Вы можете выехать из номера до 14:00 
                |без каких-либо санкций.
        .slider-item-question
            p(class="question-text") Возможно ли размещение в отеле с животными?
            p(class="answer-text") Этот вопрос обсуждается заранее
                |и индивидуально. С маленькими собаками или кошками
                |можно разместиться в отеле.
                |Для этого необходимо внести депозит 
                |5000 р., который
                |возвращается 
                |при выезде при отсутствии ущерба.
        .slider-item-question
            p(class="question-text") Можно ли припарковать автомобиль у отеля?
            p(class="answer-text") Да, возле отеля находится бесплатная общественная парковка, но мы 
                br
                |не можем 
                |гарантировать наличие свободных мест.