section(class="rules")
    a(class="anchor" id="rules")
    h3.rules__titel Правила отеля
    p Режим работы мини-отеля — круглосуточно. 
    span Расчетное время:
    ul
        li Время заезда 
            span 12:00 – 19:00
        li Время выезда 10:00
    p Бесплатная отмена бронирования до 14:00 часов дня, предшествующего дате заезда.