footer.footer
    div(class="footer-logo")
        +icon('logo','footer__icon-logo')
        span © 2012-2018 Отель «8 Сов»
    div(class="footer-contacts")
        ul
            li
                +icon('mark','footer__icon-mark')
                span Санкт-Петербург, ул. 8-я Советская, 32
            li
                +icon('phone','footer__icon-phone')
                a(href="tel:+71234567890") +7 (123) 456-78-90 
            li
                +icon('vk','footer__icon-vk')
                a(href="https://vk.com/8sovspb" target="_blank") Мы Вконтакте      
            li
                +icon('mail','footer__icon-mail')
                a(href=" mailto:vaspb@list.ru") vaspb@list.ru          
    div(class="footer-payment")
        span Принимаем к оплате:
        ul
            li 
                img(src="static/img/common/footer/mir.png" alt="mir")
            li 
                img(src="static/img/common/footer/visa.png" alt="visa")
            li
                img(src="static/img/common/footer/mastercard.png" alt="mastercard")
            li
                img(src="static/img/common/footer/maestro.png" alt="maestro")