header.header
    a(class="header-logo__link" href="index.html")
        +icon('logo','header-logo')
    div(class="header-contacts")
        span(class="header-address") Санкт-Петербург, ул. 8-я Советская, 32
        a(href="tel:+71234567890" class="header-phone") +7 123-456-78-90