nav(class="nav")
    ul(class="menu")
        li
            a(href = "index.html") Главная
            ul(class="submenu")
                li
                    a(href="index.html#advantages") Наши преимущества
                li
                    a(href="index.html#hotel-description") Описание отеля
                li
                    a(href="index.html#rules") Правила отеля
                li
                    a(href="index.html#questions") Вопросы и ответы
                li
                    a(href="index.html#landmarks") Достопримечательности
                li
                    a(href="index.html#map") Где нас найти
        li
            a(href="hotel_rooms.html") Номера и цены
            ul(class="submenu")
                li
                    a(href="hotel_rooms.html#comfort") Номер «Комфорт»
                li
                    a(href="hotel_rooms.html#family") Номер «Семейный»
                li
                    a(href="hotel_rooms.html#lux") Номер «Люкс»
                li
                    a(href="hotel_rooms.html#double") Двухместный номер
                li
                    a(href="hotel_rooms.html#triple") Трехместный номер
        li
            a(href="reviews.html") Отзывы
        li
            a(href="contacts.html") Контакты