include ../mixins
doctype html
html(lang="ru-RU")
    head
        title Отзывы
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        link(rel="stylesheet", href="static/css/css-reset.css")
        link(rel="stylesheet", href="static/css/main.css")
    body
        include sprite_reviews.svg
        .wrapper
            .container-header
                include common/header.pug
                include common/nav.pug
            include reviews/container-reviews.pug
            include common/footer.pug
        script(src="static/js/libs.min.js")
        script(src="static/js/main.js")
