div(class="information-contacts")
    .address
        +icon('icon','contacts_icon')
        p
            |Россия, Санкт-Петербург, улица 8-я Советская, дом 32, 3 этаж
            br
            |Метро: «Площадь Восстания», «Маяковская»
            br
            |Московский вокзал
    p
        |Если у Вас возникли сложности с поиском нашего отеля, 
        |с нами всегда можно связаться по телефону или почте:
    .widget
        div(id="vk_groups")
        ul
            li 
                +icon('phone_contacts','phone_contacts')
                span +7 (921) 652-93-57
            li 
                +icon('mail_contacts','mail_contacts')
                span vaspb@list.ru
