article.container-reviews
    h1 Отзывы наших гостей
    section(class="review")
        h2 Отзыв Оксаны
        img(src="static/img/review/person_1.svg", alt="person")
        div
            span.name Оксана
            span.data 1 августа 2018
            p.review-text
                |Отличное местоположение отеля. Тихий двор. До Московского вокзала
                |можно дойти минут за 10. Мы сначала шли длинной дорогой, а потом уже разобрались, как можно срезать путь. Очень чистый номер. Белое постельное белье, чистые полы, чистая ванная комната. В номере были банные полотенца, одноразовые тапочки, мини-пакетики с шампунем, гелем для душа и влажные салфетки. 
                |Так как было очень жарко в Питере,то мы спали с открытым окном. Тишина. 
                |И ни одного комара. Нам понравилось все. В следующий раз обязательно остановимся в этом отеле.
    section(class="review")
        h2 Отзыв Валентины
        img(src="static/img/review/person_2.svg", alt="person")
        div
            span.name Валентина
            span.data 22 апреля 2018
            p.review-text
                |Понравилась тишина и доброжелательность других проживающих, 
                |очень уютная атмосфера. Кровать очень удобная, душ и туалет был в номере. Понравилось то, что в душе присутствовало радио – я как большой ценитель
                |и любитель музыки была довольна, мыться вдвойне было приятно. В номере было по 2 полотенца большое и маленькое и были
                |красиво сложены. Оформление номера красиво. Мне все понравилось.
                |Из минусов: очень туго закрывалось окно в комнате.
    section(class="review")
        h2 Отзыв Анны
        img(src="static/img/review/person_3.svg", alt="person")
        div
            span.name Анна
            span.data 28 июля 2018
            p.review-text
                |Прекрасный мини-отель семейного типа с приветливой хозяйкой! Полностью соответствует цена и качество моим ожиданиям и даже больше. Удобное месторасположение (самое сердце Санкт-Петербурга). Есть свободные места 
                |на охраняемой площадке. Уютная кухонная зона для комфортного питания 
                |(по полной обеспечение бытовой техникой, столовой посудой). Установлен фильтр для питьевой воды. Остается ощущение дружеского гостеприимства, как приятное послевкусие. Рекомендую для длительного отдыха всей семьей (от недели и больше). Большая благодарность Юлии! Очень рады знакомству!
    section(class="review")
        h2 Отзыв Владислава
        img(src="static/img/review/person_4.svg", alt="person")
        div
            span.name Владислав
            span.data 1 апреля 2018
            p.review-text
                |Отдыхали с другом с 31 марта по 1 апреля, все понравилось, душ, кравать 
                |все супер, только не разобрались как работает камин )
    section(class="review")
        h2 Отзыв Сергея
        img(src="static/img/review/person_5.svg", alt="person")
        div
            span.name Сергей
            span.data 14 марта 2018
            p.review-text
                |Приезжаю часто в командировки и останавливаюсь в этом отеле. Всегда чисто 
                |и тихо, не смотря на то, что заняты все номера. wi-fi, очень хорошо ловит 
                |в номере, хорошая скорость, для меня это важно. Удобное расположение, 
                |в центре, до метро пешком минут 10, рядом все, что нужно. За четыре раза своего визита в этот отель я не нашел к чему придраться.
    section(class="review")
        h2 Отзыв Михаила
        img(src="static/img/review/person_6.svg", alt="person")
        div
            span.name Михаил
            span.data 24 мая 2018
            p.review-text
                |Очень чисто! Менеджер пошла навстречу, мы опаздывали и у нас был 
                |поздний заезд (после 22:00), не смотря на это нас встретили и разместили, хотя обычно у них заезд до 19:00. Места немного, но все необходимое есть. Смесители в номере работают с задержкой - вода меняет температуру
                |секунд через 20.
    section(class="review")
        h2 Отзыв Екатерины
        img(src="static/img/review/person_7.svg", alt="person")
        div
            span.name Екатерина
            span.data 30 июля 2018
            p.review-text
                |Выбрали этот отель из-за расположения. И удобно было добираться до нужных мест. Все очень чисто. У нас был номер с собственной ванной и туалетом 
                |вне номера. Заселились быстро. В номере чисто и уютно.Только не хватало вентилятора или кондиционера, так как на улице было очень жарко, в номере тоже было жарко.
    .link
        span Больше отзывов в нашей группе 
            a(href="https://vk.com/topic-170038138_39092434" target="_blank") Вконтакте
        
